/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
composer\.lock
supervisord\.log
supervisord\.pid
nginx-php-fpm/laravel-post-install\.log

package-lock\.json

public/lte/documentation/

public/lte/build/

public/lte/pages/

public/lte/\.npmignore

public/lte/\.travis\.yml

public/lte/bower\.json

public/lte/changelog\.md

public/lte/composer\.json

public/lte/Gruntfile\.js

public/lte/index\.html

public/lte/index2\.html

public/lte/LICENSE

public/lte/package\.json

public/lte/README\.md

public/lte/starter\.html

public/lte/yarn\.lock
